
.metadata/.plugins/org.eclipse.jdt.core/4241131739.index
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/db/20b9892b7a4f00171b0d9c4a8138bb42
.metadata/.plugins/org.eclipse.core.resources/.history/dd/00caaca9794f00171b0d9c4a8138bb42
.metadata/.plugins/org.eclipse.core.resources/.projects/GestionFestival/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/GestionFestival/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/GestionFestival/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/GestionFestival/.syncinfo.snap
*.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
